
/*动态添加类*/
  .in-title{
            
            margin-top:3%;
            opacity:1;/*其他，透明度50%*/
 
           width: 15%;
 }
 

.easy-in-out{


-webkit-transition:800ms ease all;
	transition:800ms ease all; 
 
}
 .in-index-pic1{
 background-color: #232323;

 background-image: url(../pic/index-pic1-hover.jpg); 
 }
  
 .in-index-pic2{
 background-color: #232323;

 background-image: url(../pic/index-pic22-hover.jpg); 
 }
  

   .in-index-pic3{
 
background-color: #232323;
 background-image: url(../pic/index-pic33-hover.jpg); 
 }

.in-bg{
 	background:url(../pic/light-L1.jpg)  no-repeat center center;


	}


 @media screen and (max-width: 1440px){
 .in-bg{
 	background:url(../pic/light-L2.jpg)  no-repeat center center;
	}
}

.anima-light{
	float: left;
	z-index: 0;
}


.metro-bottom{

	bottom:100%;
}
.metro-right{

	right:100%;
}
.metro-top{
 
	top:100%;
}

 /*动态添加类结束*/
.S-fadeIN-left{
	 
	position:relative;
	left:200px; 
	opacity:0;
	-webkit-transition:1500ms ease all;
	transition:1500ms ease all; 
}

.start .S-fadeIN-left  {left:0%; opacity:1;}

.A-fadeIN-left{
	 float: left;
	position:relative;
	left:40px; 
	opacity:0;
 
	-webkit-transition:1500ms ease all;
	transition:2000ms ease all; 
}


.active  .A-fadeIN-left  {  left:0%;  opacity:1;} 

.A-fadeIN-left1{
	 float: right;
	position:relative;
	left:240px; 
	opacity:1;
 
	/*-webkit-transition:1500ms ease all;
	transition:2000ms ease all; */
}


.active  .A-fadeIN-left1  {  left:0%;  opacity:1;} 

 


.A-fadeIN-left2{
	 float: right;
	position:relative;
	left:50px; 
	opacity:0;
 
/*	-webkit-transition:1500ms ease all;
	transition:2000ms ease all; */
}


.active  .A-fadeIN-left2  {  left:0%;  opacity:1;} 


.S-fadeIN-right{
	float: right;
	 
	position:relative;
	right:200px; 
	opacity:0;
 
/*	-webkit-transition:1500ms ease all;
	transition:1500ms ease all; */
}

.start .S-fadeIN-right  { right:0%;  opacity:1;}


.A-fadeIN-right{
	float: right;
	 
	position:relative;
	right:100px; 
	opacity:0;
 
	-webkit-transition:1500ms ease all;
	transition:2000ms ease all; 
}


.active  .A-fadeIN-right  { right:0%;  opacity:1;} 

.A-fadeIN-right1{
	float: left;
	 
	position:relative;
	right:300px; 
	opacity:1;
 
	/*-webkit-transition:1500ms ease all;
	transition:2000ms ease all; */
}


.active  .A-fadeIN-right1  { right:0%;  opacity:1;} 


.A-fadeIN-right2{
	float: left;
	 
	position:relative;
	right:50px; 
	opacity:0;
 
	/*-webkit-transition:1500ms ease all;
	transition:2000ms ease all; */
}


.active  .A-fadeIN-right2  { right:0%;  opacity:1;} 

.A-fadeIN-right3{
	float: left;
	  
	position:absolute;
	right:-150%; 
	opacity:1;
 
	-webkit-transition:4500ms ease all;
	transition:2000ms ease all; 
}


.active  .A-fadeIN-right3  { right:150%;  opacity:1;} 

.A-fadeIN-right4{
	float: left;
	
	position:relative;
	right: -150%; 
	opacity:1;
 
	-webkit-transition:1500ms ease all;
	transition:2000ms ease all; 
}


.active  .A-fadeIN-right4  { right:-40%;  opacity:1;} 





.trans_1500{

	-webkit-transition:1200ms ease all;
	transition:1200ms ease all; 
}
.trans_800{

	-webkit-transition:800ms ease all;
	transition:800ms ease all; 
}
.pg5-ani{


-webkit-transition:800ms ease all;
	transition:1500ms ease all; 

}
.pg6-ani{


-webkit-transition:800ms ease all;
	transition:800ms ease all; 

}
 
.A-fadeIN-top{
	 
	position:relative;
	top:80px; 
	opacity:0;
 
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; 
}

.active .A-fadeIN-top  { top: 0px;   opacity:1;}

 .A-fadeIN-top1{
	 
	position:relative;
	top:50px; 
	opacity:0;
 /*
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; */
}

.active .A-fadeIN-top1  { top: 0px;   opacity:1;}

 .A-fadeIN-top2{
	 
	position:relative;
	top:40%; 
	opacity:0;
 
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; 
}
.active .A-fadeIN-top2  { top: 59.8%;   opacity:1;}

.A-fadeIN-bottom {
	 
	 
	position:relative;
	bottom:80px; 
	opacity:0;
 
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; 
}

.active .A-fadeIN-bottom  { bottom: 0px;   opacity:1;}
 
.A-fadeIN-bottom1 {
	 
	 
	position:relative;
	bottom:50px; 
	opacity:0;
 /*
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; */
}

.active .A-fadeIN-bottom1  { bottom: 0px;   opacity:1;}
  
.A-fadeIN-top08{
	 
	 
	position:relative;
	top:80px; 
	opacity:0;
 
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; 
}

.active .A-fadeIN-top08  { top: 0px;   opacity:0.8;}

.A-fadeIN-top06{
	 
	 
	position:relative;
	top:30px; 
	opacity:0;
 
	-webkit-transition:800ms ease all;
	transition:1500ms ease all; 
}

.active .A-fadeIN-top06 { top: 0px;   opacity:0.6;}

 
.A-fadeIN-big{
	 
	 
	position:absolute;
	width: 100%;
	opacity:0;
 	left: -10%;
 	top:40%;
	-webkit-transition:300ms ease all;
	transition:300ms ease all; 
}

.active .A-fadeIN-big {left: 60%; top:70%;  width: 40%; opacity:1;}

.S-fadeIN-top1{
	 
	 
	position:relative;
	top:20px; 
	opacity:0;
 
	-webkit-transition:1500ms ease all;
	transition:1500ms ease all; 
}

.start .S-fadeIN-top1  { top: 0px;   opacity:1;}

.S-fadeIN-top2{
	 
	 float: left;
	position:relative;
	top:40px; 
	opacity:0;
 
	-webkit-transition:1500ms ease all;
	transition:1500ms ease all; 
}

.start .S-fadeIN-top2  { top: 0px;   opacity:1;}




.delay01{

	transition-delay:0.1s;
}

.delay02{

	transition-delay:0.2s;
}
.delay03{

	transition-delay:0.3s;
}
.delay04{

	transition-delay:0.4s;
}
.delay05{

	transition-delay:0.5s;
}
.delay06{

	transition-delay:0.6s;
}
.delay07{

	transition-delay:0.7s;
}
.delay08{

	transition-delay:0.8s;
}
.delay09{

	transition-delay:0.8s;
}
.delay10{

	transition-delay:1s;
}
.delay11{

	transition-delay:1.1s;
}
.delay12{

	transition-delay:1.2s;
}
.delay14{

	transition-delay:1.4s;
}
.delay16{

	transition-delay:1.6s;
}

.delay18{

	transition-delay:1.8s;
}

.delay22{

	transition-delay:2.2s;
}


