/*引用百度地图*/
 
    .context{
        position: relative;
        float: left;
        background-color: #232323;
        width: 255px;
        height: 400px;
        overflow-x:auto;

        
    }
@media screen and (max-height: 700px){
.context{
        position: relative;
        float: left;
        background-color: #232323;
        width: 355px;
        height: 400px;
        overflow-x:auto;

        
    }

}

    
    .context ul{
     	-webkit-padding-start:0;
    	 list-style: none;
    	color: white;
    }
    .context h3{
    	font-size: 15px;
    	margin-left: 5px;
     	text-align: left;
    	color: white;
    	font-weight: 600;
    	 
    }
     
    .context p{
    	font-size: 13px;
    	margin-left:  10px;
    	text-align: left;
    	 
    }
 	.p-margin-left{
 		 color: #bfbfbf;
 		padding-left: 15px;
 	}
  .map img{
         max-width:400px;

    }
  .map-alpha{
  	 z-index: 1;
  	 
  }
 .context-1{
  
 	margin-top: 10px;

  
 }

 .in-context-a{
 		background-color: rgb(0,175,219);

    }
 


.switch{
	width: 30px;
 
	position: relative;
	 

}
/*垂直居中来了*/

.align-middle{
	 margin: 0 auto;
}
 .centerDiv { display:inline-block; zoom:1; *display:inline; vertical-align:middle; text-align: middle;  width:20%;  }
 .hiddenDiv { height:100%; overflow:hidden; display:inline-block; width:1px; overflow:hidden; margin-left:-1px; zoom:1; *display:inline; *margin-top:-1px; _margin-top:0; vertical-align:middle;}


.clear{clear:both;}




.quote-position{
	 
	margin-left: 25%; 
	margin-top: 1%;
}
.pg5-tit{
	padding-top: 5%;
	text-align: center;
 	position: relative;
	width:70%; 
 	margin-left: 15%;
 	margin-bottom:50px; 
 

}
 

.page-display{

	background-image: url('../pic/wallpaper.png');
	/*background-image: url('../pic/墙壁背景-006.jpg');*/
	background-color: #fefae5;
	width: 100%;
	height: 100%;
}
 

.page-display-t{
	display: block;
	margin: 15px auto;
	height: 40px;
	 
}
.page{
 

   position:absolute;
   left:0;
   top:0px;
   right:0;
   bottom: 0px; 
   overflow:hidden;
	width: 100%;
}

 .foot-bottom{
   width: 100%;
 	position: absolute;
 	bottom: 0;
 }

 .page5bg1{
	 
    position: absolute;
 top: 0;
 left: 0;
 right: 0;
  z-index: -1;   
 
}

.page5title{
 
 width: 14%;
 display:none;
 margin-left: 10%;
 margin-top:4%;
 
 opacity: 1
  

}


.pro-text1{
	display:none;
	margin-left: 10%;
	margin-top: 4%;
  	width: 30%;


}

.pro-text2 
{  

	display:none;
	margin-left: 5%;
	margin-top: 8%;
 	width: 20%;

}

.pro-text3
{  
 
 	display:none;
 	position: relative;
	top:35%;
	left: 40%;
  	width: 37%;

}
.pro-text4
{  
 
 	display:none;
	margin-left: 16%;
	margin-top: 18%;
  	width: 22%;

}

.page-huge
{

 

 	background-image: url(../pic/huge-bg.jpg); 
	width: 100%;
	height: 100%;
	background-color: #232323;
    background-position: center;
	background-repeat: no-repeat;


} 

.page3{

	width: 1280px;
 	margin: 0 auto;
 
 	 
}

.main_logo{

	margin-top: 14%;
	width:80%;
 
}

.main_logo_l{
	margin-top: 1%;
	 width:18%;

}

@media screen and (max-height: 700px){
.main_logo_l{

	margin-top: 1%;
	width:15%;
 
}

}

.enter_logo{
 
	width: 8%;
	position: absolute;
	left: 70%;
	 
	float: left;
}
.metro-r{
	right: 0%;
	 -moz-background-size:100% 100%;
   background-size:100% 100%;
    background-image: url('../pic/page3-t.jpg'); 
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #e26562;
	position: absolute;
	background-position: center;
}
.metro-k{
	 -moz-background-size:100% 100%;
   background-size:100% 100%;
	bottom: 0%;
    background-image: url(../pic/page-huge-c.jpg); 
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #2e2e2e;
	position: absolute;
	background-position: center;
}

.metro-g{
	 
	bottom: 0%;
    background-image: url(../pic/wait4mp.jpg); 
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #64ba36;
	position: absolute;
	background-position: bottom;
}

.metro-g1{
	 
	bottom: 0%;
    background-image: url(../pic/wait4mp.jpg); 
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #64ba36;
	position: absolute;
	/*background-repeat: no-repeat;*/
	background-position: bottom;
}

.metro-p{
	 
	right:  0%;
 	background-image: url(../pic/metro2.png); 
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #8a4d93;
	position: absolute;
	background-position: bottom;
}
.metro-b{
	 -moz-background-size:100% 100%;
   background-size:100% 100%;
	bottom: 0%;
 	background-image: url(../pic/metro3.jpg); 
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #3db7f6;
	position: absolute;
	background-position: bottom;

}

.page3-box1{
	float: left;
	/*padding: 40px 10px ;*/
	overflow: hidden; 
	background-image: url(../pic/page3-t-bg.jpg); 
	background-color: #e26562;
	margin-top: 1%; 
	position: relative;
	margin-left: 2%;
	height: 300px;
	width: 300px;

} 


@media screen and (max-height: 700px){

.page3-box1{
	float: left;
	/*padding: 40px 10px ;*/
	overflow: hidden; 
	background-image: url(../pic/page3-t-bg.jpg); 
	background-color: red;
	margin-top: 1%; 
	position: relative;
	margin-left: 2%;
	height: 250px;
	width: 250px;

} 

}





.page3-box2{
	 
	float: left;
	background-color: #2e2e2e;
	
	background-image: url(../pic/page3-bg-c.jpg); 
	position: relative;
	margin-top: 1%;
	margin-left: 8px;
	height: 300px;
	width: 300px;
	overflow: hidden; 
} 

@media screen and (max-height: 700px){

.page3-box2{
	 
	float: left;
	background-color: #2e2e2e;
	
	background-image: url(../pic/page3-bg-c.jpg); 
	position: relative;
	margin-top: 1%;
	margin-left: 8px;
	height: 250px;
	width: 250px;
	overflow: hidden; 
} 

}

.page3-box3{
	float: right;
	overflow: hidden;
	position: relative;
	margin-top: 1%;
	margin-left: 8px;
	height: 400px;
	width: 635px;

} 

@media screen and (max-height: 700px){

 .page3-box3{
	float: right;
	overflow: hidden;
	position: relative;
	margin-top: 1%;
	margin-left: 8px;
	height: 250px;
	width: 735px;

} 
}

.page3-box4{
	overflow: hidden;
	float: left;
	background-image: url('../pic/huge-1.jpg');
	background-color: #8a4d93;
	background-position: center;
	background-repeat: no-repeat;
 	position: relative;
	margin-top: 10px;
	margin-left: 2%;
	height: 400px;
	width: 608px;

} 

@media screen and (max-height: 700px){

.page3-box4{
	overflow: hidden;
	float: left;
	background-image: url('../pic/huge-1.jpg');
	background-color: #8a4d93;
	background-position: center;
	background-repeat: no-repeat;
 	position: relative;
	margin-top: 10px;
	margin-left: 2%;
	height: 300px;
	width: 608px;

} 
}

.page3-box5{
	float: right;
	background-color: #3db7f6;
	background-image: url('../pic/display1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin-top: 0.8%;
	margin-left: 8px;
	height: 300px;
	width: 635px;
 	overflow: hidden;
} 

@media screen and (max-height: 700px){

.page3-box5{
	float: right;
	background-color: #3db7f6;
	background-image: url('../pic/display1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	margin-top: 0.8%;
	margin-left: 8px;
	height: 300px;
	width: 635px;
 	overflow: hidden;
} 

}


.page3-box5 img{
 
position: center;
 
}



.page4bg{
	background:url(../pic/developer.jpg)  no-repeat center center;;
  
     
 
}

@media screen and (max-width: 1440px){
.page4bg{
	background:url(../pic/developer2.jpg)  no-repeat center center;
 
	}

}
.page5{



}
.page5text{
  

 display: inline-block;
 vertical-align: middle;
 width: 50%;

 height: 50%;
 
 
}

.pg7text{
 
float: left;
   
	 
}

.pg8text{
	width: 100%;
 
float: left;
 text-align: center;  
	 
}

.pg7text3{
    
	 width: 100%;
	 padding-right: 5%

}
.pg7text3 img{
  /*  
	width:40%;
	float: right;*/
}
.pg7text2{
	margin-top: 10%;
	text-align: center;
	float: left;
 
	 
	width: 45%;
}
.pg7text2 img{
	width: 65%;
}

.pg7text1{

	margin-bottom: 5%;
	padding-right:5%;
}
.section {

	overflow: hidden;
 
  position:relative; 
   display: block;
	 
 font-family: 'Open Sans', sans-serif;
	font-size:15px;
}
.slide{ position:relative;}
.pg-pro{
	margin-top: 2%;


} 

.index-pic1{
 
	position: relative;
 	/*position:fixed;*/
	width: 70%;
	top:65%;
 
 
}

.index-pic2{
		position: relative;
 	/*position:fixed;*/
	width: 50%;
	top:65%;
	 
}

.index-pic3{
	position: relative;
 	/*position:fixed;*/
	width: 50%;
	top:65%;
	 
 
}

.frame-top{
  background-image: url(../pic/developer.jpg); 
  background-color: #232323;
	width: 100%;
	height: 19.8%;
  margin-bottom: 0.2%;
  overflow: hidden;
 

}


.frame-left{

	float: left;
	background-color: #232323;
	background-image: url(../pic/index-pic11-low.jpg); 
	background-image: url(../pic/index-pic11.jpg); 
/*	background-image: url(../pic/hidden-index-pic11.jpg); */
    background-size: 625px 700px;
	width: 33.133333333333333333333333%;
	height: 80%;
 	margin-right: 0.2%;
    background-position: center;
	background-repeat: no-repeat;
 
}


.frame-middle{
	margin-right: 0.2%;
	background-color: #232323;
	float: left;
 	background-image: url(../pic/index-pic22.jpg); 
	width: 33.133333333333333333333333%;
	height: 80%;
 
    background-position: center;
	background-repeat: no-repeat;
   
}


.frame-right{
	background-color: #232323;
	background-image: url(../pic/index-pic33.jpg); 
    float: left;
	width: 33.333333333333333333333333%;
	height: 80%;
  
    background-position: center;
	background-repeat: no-repeat;
 
}

.frame-left-nt{
	background-color: #ffd339;
 	padding-top: 5%;
	float: left;
	 
	width: 40%;
 	height: 100%;
 
 
}


.frame-right-nt{
	padding-left: 2%;
	padding-top: 5%;
    float: left;
	width: 60%;
	height: 100%;
    background-color: #fafafa;

}


.pg2-rt-t{
  
	width: 80%;
 
	left: 0;
 
 
}

.pg2-rt-d1{
 	float: left;
	width: 100%;
	height: 20%; 
	left: 0;
	margin-bottom:5%;
 
}

.pg2-rt-d2
{
	width: 25%;
	height: 100%; 
 
	margin-right: 20px;

 
}


 .page-video{
 	background-image: url('../pic/video_bg.jpg');
 	width: 100%;
 	height: 100%;

 }

.video{
	
	/*width: 60%;*/
	height: 60%;
	/*background-color: red;*/
	/*position: relative;*/
}
.video_pro{
	height: 100%;
	margin: 5% auto;
	display: block;
}
.video_t{
	position: relative;
	margin: 5% auto;
	display: block;
	width: 50%;
	height: 10%;
 	background-image:url('../pic/video_t.png');
/*background-color: red;*/
 	background-size: 50%;
 	background-position: center;
 	background-repeat: no-repeat;

}